# Build files
build.ninja
/build
/.dub
dub.selections.json
build-aux/main.d

# Temporary Glade Files
/data/ui/#window.ui#
/data/ui/window.ui~


/data/conf
/data/structure

# Debug files
*.log
*.out
*.gresource