[Desktop Entry]
Name=Extra Panel
Comment=Enhance your computer experience using mobile devices
Exec=extrapanel
Icon=input-mouse
Type=Application
Categories=Utility;
StartupNotify=true
